<h3>Update Employee</h3>
<div [hidden]="submitted" style="width: 400px;" *ngIf="employee">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName">
        </div>
    </form>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" required [(ngModel)]="employee.email">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
</div>

<br>
<br>
<button (click)="gotoList()" class="btn btn-primary">Back to Employee List</button>
<br>